.container {
    border: 2px solid ;
    height: 700px;
    width: 50%;
    display: inline-block;
    position: relative;
    left: 300px;
    background-color: #EA5455;
    border-radius: 10px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    /*animation-name: zoom-in-and-out;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
  }
  @keyframes zoom-in-and-out {
    from{
        width: 50%;
    }
    to {
      width:80%;
    }
  
  }*/
  
}
    

  .photo {
    display: inline-block;
    position: relative;
    height: 250px;
    width: 250px;
    top: 10px;
    left: 3px;
  }
  .descrption {
    border: 2px solid;
    display: inline-block;
    position: absolute;
    left: 270px;
    width: 380px;
    height: 95vh;
    top: 10px;
    text-decoration: none;
    border-radius: 10px;
    background-color: #7db9b6;
    color: #2D2727;
    animation-name: virat;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    overflow: hidden;
  }
  @keyframes virat {
    from{
      height: 10vh;

    }
    to{
      height:95vh;
    }
  }
  .achievement {
    border: 2px solid ;
    display: inline-block;
    position: absolute;
    top: 260px;
    width: 260px;
    height: 60px;
    left: 3px;
    background-color:  #0c84f5;
    color: #ffea20;
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
  }
  .achievement:hover{
    width:260px;
    height:350px;
    background-color: #136583;
    
  }
  .photo img {
    margin: 2px 4px;
    height: 240px;
    width: 245px;
    border-radius: 60px;
    animation-name: photo;
    animation-duration: 2s;
    animation-timing-function: ease-out;
  }
  @keyframes photo {
    from {
      width: 150px;
      height: 150px;
      opacity: 0%;
      border-radius: 0px;
      
    }
    to {
      width: 245px;
      height: 240px;
      border-radius: 60px;
      opacity: 100%;
    }
  }
  
  .descrption h3 {
    font-size: 30px;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
  }
  .text li {
    text-decoration: none;
  }
  .p {
    margin: 0px, 5px;

    padding: 8px;

    text-align: justify;
  }
  .ach {
    text-align: center;
    font-weight: bold 500;
    font-size: 20px;
    color: rgb(219, 126, 13);
  }
  .signature {
    display: inline-block;
    position: absolute;
    top: 620px;
    left: 8px;
    width: 250px;
    height: 70px;
  }
  .signature img {
    width: 248px;
    height: 65px;
    border-radius: 5px;
  }
  ul{
    list-style-type: none;
  }