body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
  background-color: #2C3333;
  position: relative;
  
}

#navbar {
  display: flex;
  justify-content: space-between;
  font-family: 'Cormorant Garamond', serif;
  font-size: 28px;
  color: aliceblue;
}
.right-navbar {
  padding: 15px;
  font-size: 40px;
}
.left-navbar {

  margin-right: 50px;
  
}
.left-navbar li {
  list-style-type: none;
  display: inline-block;
  margin-left: 30px;
  
  
}
.left-navbar li a{
  text-decoration: none;
  color: aliceblue;
}


.left-navbar li a:hover{
  text-shadow: 8px 8px 5px rgba(255, 255, 255, 0.5);
  color: aqua;
}
#navbar .toggle {
  display:none ;
}
.left-navbar .times{
  display: none;
}

@media (max-width: 800px) {
  .left-navbar ul li {
    display: block;
  }
  .left-navbar{
    position: absolute;
    right: 0px;
    top:0px;
    background-color: black;
    height: 100vh;
    width: 200px;
    z-index: 2;
  }
  .left-navbar .times{
    display: block;
    position: relative;
    left: 90px;
    
  }
  #navbar .toggle {
    display: inlineblock;
    position: relative;
    right: 10px;
    top: 15px;
    font-size: 32px;
    /* padding: 15px; */
  }
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  
}
.desc{
  color: aliceblue;
  flex: 1;
  text-align: center;
}
.desc h2{
  font-size: 40px;
  font-family: 'Lobster Two', cursive;
}
.desc p{
  font-size: 30px;
  
}

.photo{
  margin-right: 100px;
}
.photo img{
  height: 400px;
  width: 400px;
}
@media (max-width: 800px) {
  .container{
    flex-direction: column-reverse;
  }
  .photo{
    margin: auto;
  }
  .desc p{
    font-size: 20px;
  }
  .desc h2{
    font-size: 30px;
  }
}